#Options +FollowSymLinks -MultiViews
#
#RewriteEngine On
#RewriteBase /
#
#RewriteCond %{DOCUMENT_ROOT}/public/$1 !-d [NC]
#RewriteCond %{DOCUMENT_ROOT}/public/$1 !-f [NC]
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ /public/index.html [L]
#
#RewriteCond %{DOCUMENT_ROOT}/public/$1 -d [NC,OR]
#RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
#RewriteCond %{REQUEST_URI} !^/public/ [NC]
#RewriteRule ^(.*)$ /public/$1 [L]

##############################################################################################################
#RewriteRule ^category/(.+)$ http://www.tudominio.com/$1 [R=301,L]

##############################################################################################################
##Deshabilitar la navegación por los directorios de tu sitio
#Options All -Indexes

##############################################################################################################
##Comprimir componentes al activar Gzip
#Esto hace que sea más rápida la carga de tu sitio:

#AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript text/css application/x-javascript
#BrowserMatch ^Mozilla/4 gzip-only-text/html
#BrowserMatch ^Mozilla/4.0[678] no-gzip 
#BrowserMatch bMSIE !no-gzip !gzip-only-text/html

##############################################################################################################
##Quitar palabras o strings de una URL
#RewriteRule ^#/(.+)$ http://flujogenico.cl:8081/$1 [R=301,L]


##############################################################################################################
##Quitar el "www" del dominio
#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^www\.dominio\.com$ [NC]
#RewriteRule ^(.*)$ http://dominio.com/$1 [L,R=301]