<style>
	.ponderacion-panel{
		position: fixed;
		left:0px;
		top:0px;
		z-index: 999;
		width: 100%;
		height:100%;
		background-color:rgba(0,0,0,0.4);
		padding-top: 50px;
	}
	.fondoblanco{
		background-color:rgba(255,255,255,0.85);
	}
	button.ponderacion{
		display:none;
	}
	 h4:hover .ponderacion{
		display: inline;
	}
</style>

 - 

<div class="ponderacion-panel" ng-show="ponderacionPanel">
	<div class="row">
		<div class="col-xs-1"></div>
<div class="col-sm-5 jumbotron">
<h2>{{ponderacionSp.taxa}}</h2>
<p>Riesgo de flujo génico propuesto: {{riskLevel(ponderacionSp.flujogenico)}} ({{ponderacionSp.flujogenico | number:0 }})</p>

<p> Riesgo de flujo génico personalizado: {{riskLevel(FlujoGenico(ponderacionSp))}} ({{FlujoGenico(ponderacionSp) | number:3}})</p>

<p><a class="btn btn-primary btn-lg" role="button" ng-click="ponderacionChao()">Estoy OK, Gracias</a></p>
</div>
<div class="col-xs-1"></div>

<div class="col-md-4 jumbotron " style="overflow:scroll; height:500px;">
<div class="tab-pane ">
  <ul ng-show="ponderacionSp.type == 1">
	<li>Tipo de Origen : {{R.CtipO}}
		<input type="range" ng-model="R.CtipO" min="1" max="6" >
		<ul>
			<li>
				Endemico: {{R.Cen}}
				<input type="range" ng-model="R.Cen" min="1" max="6">
			</li>
			<li>
				Nativo: {{R.Cnati}}
				<input type="range" ng-model="R.Cnati" min="1" max="6">
			</li>
			<li>
				Introducido: {{R.Cin}}
				<input type="range" ng-model="R.Cin" min="1" max="6">
			</li>
			<li>
				Naturalizado: {{R.Cnatu}}
				<input type="range" ng-model="R.Cnatu" min="1" max="6">
			</li>
		</ul>
	</li>
	<li>
		Tipo de especie: {{R.CtipC}}
		<input type="range" ng-model="R.CtipC" min="1" max="6">
		<ul>
			<li>
				Agrícola: {{R.Cag}}
				<input type="range" ng-model="R.Cag" min="1" max="6">
			</li>
			<li>
				Ornamental: {{R.Cor}}
				<input type="range" ng-model="R.Cor" min="1" max="6">
			</li>
			<li>
				Forestal: {{R.Cfo}}
				<input type="range" ng-model="R.Cfo" min="1" max="6">
			</li>
			<li>
				Maleza: {{R.Cma}}
				<input type="range" ng-model="R.Cma" min="1" max="6">
			</li>
		</ul>
	</li>
	<li>
		Reproducción: {{R.CtipR}}
		<input type="range" ng-model="R.CtipR" min="1" max="6">
		<ul>
			<li>
				Sexual: {{R.Cse}}
				<input type="range" ng-model="R.Cse" min="1" max="6">
			</li>
			<li>
				Vegetativa: {{R.Cve}}
				<input type="range" ng-model="R.Cve" min="1" max="6">
			</li>
		</ul>
	</li>
	<li>
		Ciclo de Vida: {{R.Ccv}}
		<input type="range" ng-model="R.Ccv" min="1" max="6">
		<ul>
			<li>
				Anual: {{R.Can}}
				<input type="range" ng-model="R.Can" min="1" max="6">
			</li>
			<li>
				Bianual: {{R.Cbi}}
				<input type="range" ng-model="R.Cbi" min="1" max="6">
			</li>
			<li>
				Perenne: {{R.Cpe}}
				<input type="range" ng-model="R.Cpe" min="1" max="6">
			</li>
			<li>
				Bulbosa: {{R.Cbu}}
				<input type="range" ng-model="R.Cbu" min="1" max="6">
			</li>
		</ul>
	</li>
	<li>
		Tipo de polinización: {{R.CtipP}}
		<input type="range" ng-model="R.CtipP" min="1" max="6">
		<ul>
			<li>
				Autógama: {{R.Cang}}
				<input type="range" ng-model="R.Cang" min="1" max="6">
			</li>
			<li>
				Alógama: {{R.Calg}}
				<input type="range" ng-model="R.Calg" min="1" max="6">
			</li>
		</ul>
	</li>
	<li>
		Agente polinizante: {{R.CagP}}
		<input type="range" ng-model="R.CagP" min="1" max="6">
		<ul>
			<li>
				Entomófila: {{R.Cent}}
				<input type="range" ng-model="R.Cent" min="1" max="6">
			</li>
			<li>
				Anemófila: {{R.Cane}}
				<input type="range" ng-model="R.Cane" min="1" max="6">
			</li>
			<li>
				Artificial: {{R.Cart}}
				<input type="range" ng-model="R.Cart" min="1" max="6">
			</li>
		</ul>
	</li>
	<li>
		Landrace: {{R.Cland}}
		<input type="range" ng-model="R.Cland" min="1" max="6">
		<ul>
			<li>
				Landrace: {{R.Clan}}
				<input type="range" ng-model="R.Clan" min="1" max="6">
			</li>
		</ul>
	</li>
</ul>

<ul ng-show="ponderacionSp.type == 2">
	<li>
		Tipo de especie {{R.Itipoc}}
		<input type="range" ng-model="R.Itipoc" min="1" max="6">
		<ul>
			<li>
				Agrícola	{{R.Ia}}
				<input type="range" ng-model="R.Ia" min="1" max="6">
			</li>
			<li>
				Ornamental	{{R.Io}}
				<input type="range" ng-model="R.Io" min="1" max="6">
			</li>
			<li>
				Forestal	{{R.If}}
				<input type="range" ng-model="R.If" min="1" max="6">
			</li>
			<li>
				Medicinal	{{R.Ime}}
				<input type="range" ng-model="R.Ime" min="1" max="6">
			</li>
			<li>
				Maleza		{{R.Ima}}
				<input type="range" ng-model="R.Ima" min="1" max="6">
			</li>
		</ul>
	</li>
	<li>
		Naturalizada {{R.Iotr}}
		<input type="range" ng-model="R.Iotr" min="1" max="6">
		<ul>
			<li>
				Naturalizada	{{R.In}}
				<input type="range" ng-model="R.In" min="1" max="6">
			</li>
		</ul>
	</li>
</ul>

<ul ng-show="ponderacionSp.type == 3">
	<li>
		Estatus de conservación	{{R.NcEc}}
		<input type="range" ng-model="R.NcEc" min="1" max="6">
		<ul>
			<li>
				Extinta	{{R.Nex}}
				<input type="range" ng-model="R.Nex" min="1" max="6">
			</li>
			<li>
				En peligro	{{R.Np}}
				<input type="range" ng-model="R.Np" min="1" max="6">
			</li>
			<li>
				Vulnerable	{{R.Nv}}
				<input type="range" ng-model="R.Nv" min="1" max="6">
			</li>
			<li>
				Rara {{R.Nr}}
				<input type="range" ng-model="R.Nr" min="1" max="6">
			</li>
		</ul>
	</li>
	<li>
		Endémica	{{R.Notr}}
		<input type="range" ng-model="R.Notr" min="1" max="6">
		<ul>
			<li>
			Endémica	{{R.Nen}}
			<input type="range" ng-model="R.Nen" min="1" max="6">
			</li>
		</ul>
	</li>
</ul>

</div>
		</div>



	</div>

</div>





<div class="row">

<div class="col-md-4">

<!-- ngModel is optional -->

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li ng-class="{active: selectedTab == 1}"><a ng-click="selectedTab = 1">Transgenicas</a></li>
  <li ng-class="{active: selectedTab == 2}"><a ng-click="selectedTab = 2">Cultivadas</a></li>
  <!-- <li ng-class="{active: selectedTab == 3}" ng-show="especieSeleccionada"><a ng-click="selectedTab = 3">Ponderaciones</a></li> -->
</ul>

<!-- Tab panes -->
<div style="overflow:scroll; height:450px;">
<div ng-hide="transgenicas">
	<img src="img/loading.gif" alt="" width="33px" style="display:block; margin:auto; margin-top:100px; ">
</div>
  <div class="tab-pane" ng-show="selectedTab == 1" id="home">
	<ul>
		<li ng-repeat="spT in transgenicas"><a ng-click="especiesRelacionadas(spT,4)">{{spT.TAXA}}</a></li>
	</ul>
  </div>
  <div class="tab-pane" ng-show="selectedTab == 2" id="profile">
	<ul>
		<li ng-repeat="spT in cultivadas"><a ng-click="especiesRelacionadas(spT,1)">{{spT.taxa}}</a></li>
	</ul>
  </div>
 
</div>


</div>

<div class="col-md-8">

	<div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-show="especieSeleccionada"> Especie seleccionada: {{especieSeleccionada.nombre}}</h3>
                    <h3 class="panel-title" ng-hide="especieSeleccionada"> Selecciona una especie del panel ubicado a la izquierda de la pantalla</h3>
                    <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li ng-class="{active: selectedTabR == 1}">
                            	<a ng-click="selectedTabR = 1" ng-show="spRelation.cultivadas">Cultivadas</a>
                            </li>
                            <li ng-class="{active: selectedTabR == 2}">
                            	<a ng-click="selectedTabR = 2" ng-show="spRelation.introducidas">Introducidas</a>
                            </li>
                            <li ng-class="{active: selectedTabR == 3}">
                            	<a ng-click="selectedTabR = 3" ng-show="spRelation.nativas">Nativas</a>
                            </li>
                        </ul>
                    </span>
                </div>
                <div class="panel-body">
                	<div ng-show="loadingRelation">
						<img src="img/loading.gif" alt="" width="33px" style="display:block; margin:auto; margin-top:50px; ">
					</div>
                    <div class="tab-content">
                    	<div ng-show="selectedTabR == 0">
                        	<h4>No existen especies asociadas en Chile</h4>
							
						</div>
                        <div ng-show="selectedTabR == 1 && spRelation">
<div class="page-header">
	<h2>Asociación con especies cultivadas <small></small></h2>
</div>


							
							<div ng-repeat="spCult in spRelation.cultivadas | orderBy:'flujogenico':reverse=true">
								<div ng-class="{'alert alert-warning': riskLevel(spCult.flujogenico) == 'Medio', 'alert alert-danger': riskLevel(spCult.flujogenico) == 'Alto','alert alert-info': riskLevel(spCult.flujogenico) == 'Bajo'}">
									<h4>
										{{spCult.taxa}} -  Riego de flujo Génico : {{spCult.flujogenico | number:0 }} - {{riskLevel(spCult.flujogenico)}} 
										<button class="btn btn-sm btn-primary pull-right ponderacion" ng-click="ponderacion(spCult)">
											ponderación personalizada
										</button>
									</h4>
								</div>
								<div>
									<h5>Descripción de la especie</h5>
									<p class="alert">{{ description(spCult) }}</p>
<div ng-show="spCult.regiones">
								
<h5>Distribución por región</h5>
<div class="alert">
<table class="table" >
	<tr>
		<td>I</td>
		<td>II</td>
		<td>III</td>
		<td>IV</td>
		<td>V</td>
		<td>VI</td>
		<td>VII</td>
		<td>VIII</td>
		<td>IX</td>
		<td>X</td>
		<td>XI</td>
		<td>XII</td>
		<td>XIII</td>
		<td>XIV</td>
		<td>XV</td>
	</tr>
	<tr>
		<td title="{{spCult.distribucion.I.nombre}}"><span ng-show="spCult.distribucion.I">&#10004;</span></td>
		<td title="{{spCult.distribucion.II.nombre}}"><span ng-show="spCult.distribucion.II">&#10004;</span></td>
		<td title="{{spCult.distribucion.III.nombre}}"><span ng-show="spCult.distribucion.III">&#10004;</span></td>
		<td title="{{spCult.distribucion.IV.nombre}}"><span ng-show="spCult.distribucion.IV">&#10004;</span></td>
		<td title="{{spCult.distribucion.V.nombre}}"><span ng-show="spCult.distribucion.V">&#10004;</span></td>
		<td title="{{spCult.distribucion.VI.nombre}}"><span ng-show="spCult.distribucion.VI">&#10004;</span></td>
		<td title="{{spCult.distribucion.VII.nombre}}"><span ng-show="spCult.distribucion.VII">&#10004;</span></td>
		<td title="{{spCult.distribucion.VIII.nombre}}"><span ng-show="spCult.distribucion.VIII">&#10004;</span></td>
		<td title="{{spCult.distribucion.IX.nombre}}"><span ng-show="spCult.distribucion.IX">&#10004;</span></td>
		<td title="{{spCult.distribucion.X.nombre}}"><span ng-show="spCult.distribucion.X">&#10004;</span></td>
		<td title="{{spCult.distribucion.XI.nombre}}"><span ng-show="spCult.distribucion.XI">&#10004;</span></td>
		<td title="{{spCult.distribucion.XII.nombre}}"><span ng-show="spCult.distribucion.XII">&#10004;</span></td>
		<td title="{{spCult.distribucion.XIII.nombre}}"><span ng-show="spCult.distribucion.XIII">&#10004;</span></td>
		<td title="{{spCult.distribucion.XIV.nombre}}"><span ng-show="spCult.distribucion.XIV">&#10004;</span></td>
		<td title="{{spCult.distribucion.XV.nombre}}"><span ng-show="spCult.distribucion.XV">&#10004;</span></td>
	</tr>
</table>
</div>
</div>
								</div>
							</div>
                        </div>
                        <div ng-show="selectedTabR == 2 && spRelation">
<div class="page-header">
	<h2>Asociación con especies introducidas</h2>
</div>

							<div ng-repeat="spIntro in spRelation.introducidas | orderBy:'flujogenico':reverse=true">
<div ng-class="{'alert alert-warning': riskLevel(spIntro.flujogenico) == 'Medio', 'alert alert-danger': riskLevel(spIntro.flujogenico) == 'Alto','alert alert-info': riskLevel(spIntro.flujogenico) == 'Bajo'}">
<h4>{{spIntro.taxa}} - Riesgo de flujo Génico {{spIntro.flujogenico | number:0 }} - {{riskLevel(spIntro.flujogenico)}}
										<button class="btn btn-sm btn-primary pull-right ponderacion" ng-click="ponderacion(spIntro)">
											ponderación personalizada
										</button>
</h4>
</div>

								
								<div>
									<h5>Descripción de la especie</h5>
									<p class="alert">{{ description(spIntro) }}</p>
<div ng-show="spIntro.regiones">
	<h5>Distribución por región</h5>
<table class="table" >
	<tr>
		<td>I</td>
		<td>II</td>
		<td>III</td>
		<td>IV</td>
		<td>V</td>
		<td>VI</td>
		<td>VII</td>
		<td>VIII</td>
		<td>IX</td>
		<td>X</td>
		<td>XI</td>
		<td>XII</td>
		<td>XIII</td>
		<td>XIV</td>
		<td>XV</td>
	</tr>
	<tr>
		<td title="{{spIntro.distribucion.I.nombre}}"><span ng-show="spIntro.distribucion.I">&#10004;</span></td>
		<td title="{{spIntro.distribucion.II.nombre}}"><span ng-show="spIntro.distribucion.II">&#10004;</span></td>
		<td title="{{spIntro.distribucion.III.nombre}}"><span ng-show="spIntro.distribucion.III">&#10004;</span></td>
		<td title="{{spIntro.distribucion.IV.nombre}}"><span ng-show="spIntro.distribucion.IV">&#10004;</span></td>
		<td title="{{spIntro.distribucion.V.nombre}}"><span ng-show="spIntro.distribucion.V">&#10004;</span></td>
		<td title="{{spIntro.distribucion.VI.nombre}}"><span ng-show="spIntro.distribucion.VI">&#10004;</span></td>
		<td title="{{spIntro.distribucion.VII.nombre}}"><span ng-show="spIntro.distribucion.VII">&#10004;</span></td>
		<td title="{{spIntro.distribucion.VIII.nombre}}"><span ng-show="spIntro.distribucion.VIII">&#10004;</span></td>
		<td title="{{spIntro.distribucion.IX.nombre}}"><span ng-show="spIntro.distribucion.IX">&#10004;</span></td>
		<td title="{{spIntro.distribucion.X.nombre}}"><span ng-show="spIntro.distribucion.X">&#10004;</span></td>
		<td title="{{spIntro.distribucion.XI.nombre}}"><span ng-show="spIntro.distribucion.XI">&#10004;</span></td>
		<td title="{{spIntro.distribucion.XII.nombre}}"><span ng-show="spIntro.distribucion.XII">&#10004;</span></td>
		<td title="{{spIntro.distribucion.XIII.nombre}}"><span ng-show="spIntro.distribucion.XIII">&#10004;</span></td>
		<td title="{{spIntro.distribucion.XIV.nombre}}"><span ng-show="spIntro.distribucion.XIV">&#10004;</span></td>
		<td title="{{spIntro.distribucion.XV.nombre}}"><span ng-show="spIntro.distribucion.XV">&#10004;</span></td>
	</tr>
</table>
</div>								


								</div>
							</div>
                        </div>
                        <div ng-show="selectedTabR == 3 && spRelation">

<div class="page-header">
	<h2>Asociación con especies nativas</h2>
</div>
							<div ng-repeat="spNat in spRelation.nativas | orderBy:'flujogenico':reverse=true">

<div ng-class="{'alert alert-warning': riskLevel(spNat.flujogenico) == 'Medio', 'alert alert-danger': riskLevel(spNat.flujogenico) == 'Alto','alert alert-info': riskLevel(spNat.flujogenico) == 'Bajo'}">
<h4>{{spNat.taxa}} - Riesgo de flujo Génico {{spNat.flujogenico | number:0 }} - {{riskLevel(spNat.flujogenico)}}
										<button class="btn btn-sm btn-primary pull-right ponderacion" ng-click="ponderacion(spNat)">
											ponderación personalizada
										</button>
</h4>
</div>
								
								<div>

									<h5>Descripción de la especie</h5>
									<p class="alert">{{ description(spNat) }}</p>



<div ng-show="spNat.regiones">
	<h5>Distribución por región</h5>
<table class="table" >
	<tr>
		<td>I</td>
		<td>II</td>
		<td>III</td>
		<td>IV</td>
		<td>V</td>
		<td>VI</td>
		<td>VII</td>
		<td>VIII</td>
		<td>IX</td>
		<td>X</td>
		<td>XI</td>
		<td>XII</td>
		<td>XIII</td>
		<td>XIV</td>
		<td>XV</td>
	</tr>
	<tr>
		<td title="{{spNat.distribucion.I.nombre}}"><span ng-show="spNat.distribucion.I">&#10004;</span></td>
		<td title="{{spNat.distribucion.II.nombre}}"><span ng-show="spNat.distribucion.II">&#10004;</span></td>
		<td title="{{spNat.distribucion.III.nombre}}"><span ng-show="spNat.distribucion.III">&#10004;</span></td>
		<td title="{{spNat.distribucion.IV.nombre}}"><span ng-show="spNat.distribucion.IV">&#10004;</span></td>
		<td title="{{spNat.distribucion.V.nombre}}"><span ng-show="spNat.distribucion.V">&#10004;</span></td>
		<td title="{{spNat.distribucion.VI.nombre}}"><span ng-show="spNat.distribucion.VI">&#10004;</span></td>
		<td title="{{spNat.distribucion.VII.nombre}}"><span ng-show="spNat.distribucion.VII">&#10004;</span></td>
		<td title="{{spNat.distribucion.VIII.nombre}}"><span ng-show="spNat.distribucion.VIII">&#10004;</span></td>
		<td title="{{spNat.distribucion.IX.nombre}}"><span ng-show="spNat.distribucion.IX">&#10004;</span></td>
		<td title="{{spNat.distribucion.X.nombre}}"><span ng-show="spNat.distribucion.X">&#10004;</span></td>
		<td title="{{spNat.distribucion.XI.nombre}}"><span ng-show="spNat.distribucion.XI">&#10004;</span></td>
		<td title="{{spNat.distribucion.XII.nombre}}"><span ng-show="spNat.distribucion.XII">&#10004;</span></td>
		<td title="{{spNat.distribucion.XIII.nombre}}"><span ng-show="spNat.distribucion.XIII">&#10004;</span></td>
		<td title="{{spNat.distribucion.XIV.nombre}}"><span ng-show="spNat.distribucion.XIV">&#10004;</span></td>
		<td title="{{spNat.distribucion.XV.nombre}}"><span ng-show="spNat.distribucion.XV">&#10004;</span></td>
	</tr>
</table>
</div>		

								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
</div>
</div>





